
mat-form-field {
  width: 300px;
  padding: 4px;
}

form {
  align-items: center;
}

#thank-you {
  font-family: 'Satisfy', cursive;
  font-size: 2em;
}

.thank-you {
  text-align: center;
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
}

#post-error {
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  color: red;
}

.post-error {
  text-align: center;
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
}

#form-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 60%;
}


#contact-form {
  background-color:#F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
  min-width: 60%;
}
