<!-- This page is to take in customer contact information -->

<section *ngIf="!thankYou && !postError" class="contact-form">
  <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div fxLayout="row" fxLayoutAlign="center" id="contact-form">

      <div fxLayout="column" id="form-wrapper">
        <h2>We'd like to talk to you:</h2>
        <h4>Phone: (616)264-1926</h4>
        <h3>Or Schedule a phone call below.</h3>
        <!-- Field to take in customer name -->
        <mat-form-field>
          <input type="text" placeholder="Contact Name" matInput ngModel name="name" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.hasError('required')">Please include a contact name.</mat-error>
        </mat-form-field>

        <!-- Field to take in customer's organization -->
        <mat-form-field>
          <input type="text" placeholder="Organization" matInput ngModel name="organization">
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Phone Number" matInput ngModel name="phone" required #phoneInput="ngModel">
          <mat-error *ngIf="phoneInput.hasError('required')">Please include a phone number.</mat-error>
        </mat-form-field>

        <!-- Field to take in customer's email  -->
        <mat-form-field>
          <input type="email" placeholder="Email" matInput ngModel name="email" email required #emailInput="ngModel">
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
          <mat-error *ngIf="emailInput.hasError('required')">Please include an email address.</mat-error>
        </mat-form-field>

        <!-- Field to take in appointment time.  -->
        <mat-form-field>
          <input matInput [owlDateTime]="picker" [owlDateTimeTrigger]="picker" [min]="start" placeholder="What time can we reach you?"
            required ngModel #dateTimeInput="ngModel" name="dateTimeInput">
          <owl-date-time [hour12Timer]="true" #picker></owl-date-time>
          <mat-error *ngIf="dateTimeInput.hasError('required')">We need to know the best time to call.</mat-error>
        </mat-form-field>
        <!-- Submit button for form -->
        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-raised-button>Submit</button>
        </div>

      </div>
    </div>


  </form>
</section>

<!-- Thank you section, displayed only with a successful post of appointment data -->
<section *ngIf="thankYou">
  <div class="thank-you" fxLayout="column" fxLayoutAlign="center center">
    <p>
      <span id="thank-you">Thank you for giving us the opportunity to serve you. </span>
      <br> The phone call will take place at:
      <br> {{ time | date: 'MMMM d, y, h:mm:ss a' }} with phone number {{ phone }}
      <br> Thank you again for choosing BL WebTech, LLC.</p>
  </div>
</section>

<!-- Error section, displayed only when appointment data post is unsuccessful  -->
<section *ngIf="postError">
  <div class="post-error" fxLayout="column" fxLayoutAlign="center center">
    <p>
      <span id="post-error">Please accept our apology</span>
      <br> Something seems to have gone wrong with our appointment scheduler.
      <br> Please call BL WebTech, LLC directly at (616)920-1439</p>
  </div>
</section>
