<div class="container">
  <div class="row community">
    <div class="col-12">
      <h3>Thank you for taking time to checkout our Community Page.</h3>
      <p>It isn't quite finished yet, but when it is, it will be great. <br> Stop by later to see how it's going.</p>
    </div>
  </div>
</div>
