.services-head {
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
}

#service-row {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: flex-start;
  justify-content: space-between;
}


.service-column {
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 15px;
  text-align: left;
  min-width: 48%;
  padding: 10px;
}

.service-column a {
  font-size: .7em;
}

.link {
  text-align: center;
}
