<div class="container">
  <div class="row">
    <div class="col-12 services-head">
      <h3>Web App Development &amp; Design</h3>
    </div>
    <div class="row" id="service-row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 service-column" *ngFor="let service of services">
        <div class="col-xs-12">
          <h3>{{ service.name }}</h3>
        </div>
        <div class="col-xs-12">
          <p>{{ service.description }}</p>
        </div>
        <div class="col-xs-12 link">
          <a routerLink="/contact" class="badge badge-secondary">Make an appointment</a>
        </div>
      </div>
    </div>


  </div>
</div>
