<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="what">
        <h4>A West Michigan based software development and consulting firm.</h4>
      </div>
    </div>
    <div class="row hero">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="hero-image">
            <img [src]="hero.background_url" alt="{{ hero.name }}" class="img img-responsive" style="min-height:400px; max-height: 400px; max-width: 100%;">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="hero-content">
            <h1>
                <strong>{{ hero.headline }}</strong>
            </h1>
            <h2>{{ hero.tagline }}</h2>
            <a routerLink="contact/">Contact Us</a>
        </div>
    </div>
    <div class="row" id="service-row">
        <div *ngFor="let service of servicesDisplayed"
             class="dflexcol col-lg-3 col-md-12 col-sm-12 service-column">
              <div><strong><p>{{ service.headline }}</p></strong></div>
              <div><h2>{{ service.name }}</h2></div>
              <div><p>{{ service.tagline }}</p></div>
        </div>
    </div>
    <div class="row" id="btn-appointment">
      <div class="col-12">
             Schedule a free initial <a routerLink="/contact">phone consultation today!</a>
      </div>

    </div>
</div>
