.hero {
    background-color: #F8F9FA;
    box-shadow: 10px 10px 4px gray;
    margin-top: 25px;
    padding: 10px;
    min-width: 100%;
}

#what {
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
  min-width: 100%;
  text-align: center;
}

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  text-align: center;
}

#hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}

#service-row {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: flex-start;
    justify-content: space-between;

}

.service-column {
    background-color: #F8F9FA;
    box-shadow: 10px 10px 4px gray;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    min-width: 31%;
    min-height: 175px;
    align-items: center;
}

.badge-appointment {
  font-size: 1.8rem;
}

#btn-appointment {
  margin-top: 30px;
  text-align: center;
}

.btn:hover {
	background-color:#F8F9FA;
}

.btn.pill{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
