@mixin dflexrow {
  display: flex;
  flex-direction: row;
}

@mixin dflexcol {
  display: flex;
  flex-direction: column;
}

.dflex {
  display: flex;
}

.dflex-row {
  @include dflexrow;
}

.dflex-col {
  @include dflexcol;
}

// display flex for a row with justify content
.dflexr-jcs {
  @include dflexrow;
  justify-content: flex-start;
}

.dflexr-jce {
  @include dflexrow;
  justify-content: flex-end;
}

.dflexr-jcc {
  @include dflexrow;
  justify-content: center;
}

.dflexr-jcsa {
  @include dflexrow;
  justify-content: space-around;
}

.dflexr-jcsb {
  @include dflexrow;
  justify-content: space-between;
}

.dflexr-jcse {
  @include dflexcol;
  justify-content: space-evenly;
}

// display flex for a col with justify contents
.dflexc-jcs {
  @include dflexcol;
  justify-content: flex-start;
}

.dflexc-jce {
  @include dflexcol;
  justify-content: flex-end;
}

.dflexc-jcc {
  @include dflexcol;
  justify-content: center;
}

.dflexc-jcsa {
  @include dflexcol;
  justify-content: space-around;
}

.dflexc-jcsb {
  @include dflexcol;
  justify-content: space-between;
}

.dflexc-jcse {
  @include dflexcol;
  justify-content: space-evenly;
}


.flexfit {
  flex: 1;
}

.flexgrow {
  flex: 1 0;
}

.flexshrink {
  flex: 0 1;
}
