/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  font-family: 'Muli', sans-serif;
  background-color: lightgray;
}
