<div *ngFor="let tech of technologies" class="dflexc-jcs tech-container">
  <div class="dflexr-jcs" *ngIf="tech.side == 'imgleft'">
    <div class="tech_img">
      <img src="assets/{{tech.image}}" alt="tech image missing" width="300" height="300">
    </div>
    <div class="dflexc-jcsa tech_info">
      <div class="tech_name_left"><h2>{{tech.name}}</h2></div>
      <div class="tech_desc_left tech_desc">{{tech.description}}</div>
    </div>
  </div>
  <div class="dflexr-jce" *ngIf="tech.side == 'imgright'">
    <div class="dflexc-jcsa tech_info">
      <div class="tech_name_right"><h2>{{tech.name}}</h2></div>
      <div class="tech_desc_right tech_desc">{{tech.description}}</div>
    </div>
    <div class="tech_img">
      <img src="assets/{{tech.image}}" alt="tech image missing" width="300" height="300">
    </div>
  </div>
</div>
