.tech-container {
  margin-top: 20px;
}

.tech_img {
  border: 3px outset grey;
}

.tech_name_left,
.tech_desc_left {
  margin-left: 30px;
}

.tech_name_right,
.tech_desc_right {
  margin-right: 30px;
}

.tech_name_left {
  background: linear-gradient(to right, #000b33, rgba(0,0,0,0));
  padding-left: 20px;
  color: #d1f1ff;
}

.tech_name_right {
  text-align: right;
  background: linear-gradient(to left, #000b33, rgba(0,0,0,0));
  padding-right: 20px;
  color: #d1f1ff;
}

.tech_desc {
  font-size: 1.4rem;
  text-align: justify;
}

.tech_info {
  width: 900px;
}
