<div class="container">
  <div class="row about">
    <div class="col-12">
      <div class="dflexr-jcc">
        <img src="{{ logo }}" alt="about image" height="256">
        <div class="dflexc-jcse" id="about_info">
          <h2>{{about.headline}}</h2>
          <p>{{about.article}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
