.about {
  background-color: #F8F9FA;
  box-shadow: 10px 10px 4px gray;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
}

#about_info {
  padding-left: 10px;

  p {
    text-align: justify;
  }
 }
