<div class="container">
  <div class="row team">
    <div class="col-12">
      <h3>We have a growing team of developers and consultants. </h3>
      <p>However this page isn't quite finished yet, but when it is, it will be great. <br> Stop by later to see how it's going.</p>
    </div>
  </div>
</div>
